*
{
	padding: 0px;
	margin:0px;
}
ul
{
	list-style: none;
}
a
{
	text-decoration: none;
}
#top{
	width:100%;
	height:32px;
	border-bottom:1px solid #c7c7c7;
	background:url("../images/top-bg.png") repeat;
}
#top_container{
	width:1200px;
	margin:0 auto;
}
#top_left{
	float:left;
}
#top_right{
	float:right;
}
#top li{
	float:left;
}
#top li a{
	padding:0 13px 0 12px;
	height:32px;
	line-height: 32px;
	color:#666;
	font-size: 12px;
	border-right: 1px solid #ddd;
	text-decoration: none;
}
#top li:last-child a{
	border-right: none;
}
#top li a:hover{
	text-decoration: underline;
}
.top-p6
{
	width: 100%;
	// background: url(../images/rent/rent1.png)no-repeat center;
	// position: absolute;
}
.top-p6-inner
{
	width: 1200px;
	height: 590px;
	margin:0 auto;
	position: relative;
	background: url(../images/rent1.png)no-repeat center;
}
.qiangzu
{
	width: 178px;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	position: absolute;
	left: 62px;
	text-align: center;
	background: #E3E3E3;
	color: white;
	border-radius: 20px;
	top: 310px;
}
.block-inner
{
	width: 1200px;
	height: 171px;
	margin: 0 auto;
	background: url(../images/rent2.jpg)no-repeat center;
}
.block1-inner
{
	width: 890px;
	margin: 0 auto;
	padding: 10px 0 60px;
	text-align: center;
}
.block1-inner h3
{
	height: 80px;
	line-height: 80px;
	font-size: 30px;
	color: #333;
}
.questions
{
	font-size: 18px;
	text-align: left;

}
.question
{
	color: #333;
	padding: 5px 0 18px 54px;
	background: url(../images/question.png)no-repeat 0 0;
	font-family: "微软雅黑";
}
.answer
{
	color: #999;
	padding: 0px 0 22px 54px;
	background: url(../images/answer.png)no-repeat;
	font-family: "微软雅黑";
}
.doc-ft
{
	clear: both;
	background: #fafafa;
	border-top: 1px solid #e5e5e5;
	padding-bottom: 40px;
	text-align: center;
}
.foot-nav
{
	width: 1200px;
	font-family: "微软雅黑 宋体";
	padding: 20px 0;
	border-bottom: 1px solid #EEEEEE;
	margin:0 auto;
	display: block;
	vertical-align: middle;
	font-size: 0;
}
.buy
{
	width: 16%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	// margin-left: -10px;
}

.shops,.shops1,.shops2,.shops3,.shops4
{
	float: left;
	width: 43px;
	height: 43px;
	display: inline-block;
	background: url(../images/34.gif)no-repeat;
}
.shops1
{
	background-position: 0 -44px;
}
.shops2
{
	background-position: 0 -88px;
}
.shops3
{
	background-position: 0 -132px;
}
.shops4
{
	background-position: 0 -176px;
}
.foots
{
	width: 112px;
	display: inline-block;
	vertical-align: top;
}
.foots li
{
	width: 112px;
	vertical-align: top;
}

.foots a
{
	line-height: 26px;
	display: block;
	font-size: 12px;
	color: #333;
}
.foots li:first-child
{
	height: 36px;
	line-height: 36px;
	font-weight: bolder;
	font-size: 16px;
	color: #888;
}
.foots a:hover
{
	text-decoration: underline;
}
.jiameng
{
	color: #239BF8;
}
.last-buy
{
	text-align: left;
	color: #999;
	font-size: 12px;
	display: inline-block;
}
.link
{
	padding-top: 22px;
	line-height: 24px;

}
.copy-right-info p
{
	font-size: 12px;
	color: #666;
}
.link a
{
	margin: 0 12px;
	color: #666;
}
.link a:hover
{
	text-decoration: underline;
}
.item1
{
	display: inline-block;
}
.fix
{
	position: fixed;
	top: 0;
	z-index: 2222;
	width: 100%;
}
.fixed
{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	display: block;
}
.fixImg
{
	width: 71px;
	height: 165px;
	position: absolute;
	right: -72px;
	top: 300px;
	background: url(../images/fixed.png)-78px 0;
}
